@{
    ViewData["Title"] = "Home Page";
}
<fieldset>
<h1>Create a Quote~</h1>
</fieldset>
 
<fieldset>
<form action="add" method="POST">
    <p> Enter your name: <input type="text" name='name'></p>
    <p> Enter your quote: <textarea type="text" name='quote'></textarea><br></br>
    <input type="submit" value="Add Quote!">
</form>
</fieldset>


    

